
*.cdb

output_files/

simulation/modelsim/newton_raphson.vo

incremental_db/compiled_partitions/

*.hdb

*.qmsg

*.rdb

*.bpm

*.ddb

db/newton_raphson.tmw_info

db/newton_raphson.map.kpt

db/newton_raphson.hif

db/.cmp.kpt

db/

float

greybox_tmp/

simulation/modelsim/newton_raphson_modelsim.xrf

.vscode/
